/*---| .b-porttfolio |----------------------start----------------------------------------*/

.b-porttfolio {
  .clearFix();
  margin-top: 26px;

}

.b-porttfolio__el,
.b-porttfolio__el:visited {
  display: inline-block;
  vertical-align: top;
  width: 297px;
  margin-right: 32px;
  margin-bottom: 30px;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  .box-shadow(0 0 5px rgba(0,31,62,.4));
  .border-radius(2px);

}

.b-porttfolio__el:nth-child(3n) {
  margin-right: 0;
}

.b-porttfolio__pic {
  position: relative;
  display: block;
  height: 190px;
  padding-bottom: 40px;

}

.b-porttfolio__pic img {
  max-width: 100%;
}

.b-porttfolio__title {
  font-size: 15px;
  font-weight: bold;
  background: #0163a0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: hidden;
  color: #ffffff;
  padding-left: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 17px;
}

.b-porttfolio__txt {
  font-size: 11px;
  line-height: 17px;
  color: #495f6a;
  display: block;
  padding-left: 17px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.b-porttfolio__h {
  color: #31252c;
  font-size: 13px;
  line-height: 1;
  display: block;
  margin-bottom: 6px;
}
/*===| .b-porttfolio |======================end==========================================*/