.b-proj-nav {
  .clearFix();

  margin-top: 40px;
}

.b-proj-nav__a {
  width: 467px;
  height: 105px;
  float: left;
  background: #ebf2f6;
  margin-right: 10px;
}

.b-proj-nav__a:last-child {
  margin-right: 0;
}

.b-proj-nav__a:hover  {
  background: red;
}

.b-proj-nav__a-pic {
  float: left;
}

.b-proj-nav__a_next .b-proj-nav__a-pic {
  float: right;
}

.b-proj-nav__content {
  overflow: hidden;
  padding: 5px;
  display: block;
}

.b-proj-nav__txt {
  display: block;
}