/*---| .b-order |----------------------start----------------------------------------*/

.b-order {
  margin-bottom: ;
}

.b-order__col {
  float: left;
  width: 317px;
  margin-right: 57px;
}

.b-order__col:last-child {
  margin-right: 0;
}

/*===| .b-order |======================end==========================================*/