/*---| b-text |----------------------------------------------------------------*/

.b-text {
  font-size: 13px;
  line-height: 1.3076923076923077;
}

.b-text h1 {
  font-size: 20px;
  font-weight: bold;
  color: #31252c;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.b-text p {
  margin: 0;
  margin-bottom: 1em;

}

.b-text__h1 {}

.b-text__h2 {}

.b-text__h3 {}

.b-text__ul {}

.b-text__ul-li {}

.b-text__ol {}

.b-text__ol-li {}

.b-text blockquote  {
  color: #0e4d8c;
  font-size: 18px;
  line-height: 1.3333333333333333;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  margin-top: 22px;
  border-top: 1px solid #d5d8dc;
  border-bottom: 1px solid #d5d8dc;
  padding-top: 14px;
  padding-bottom: 16px;
}


.b-text__table  {
  width: 100%;
}

.b-text__table th {
  text-align: left;
}

.b-text__table td  {
  border: 1px solid #222222;
  padding: 5px;
}

.b-text__img  {
  max-width: 100%;
}

/*===| b-text |=================================================================*/