/*---| .b-form-info |----------------------start----------------------------------------*/

.b-form-info {
}

.b-form-info__col {
  float: left;
  width: 319px;
  margin-right: 45px
}

.b-form-info__col_2 {
  margin-right: 0;
}

/*===| .b-form-info |======================end==========================================*/