/*---| .b-footer |----------------------start----------------------------------------*/
@height : 128px;

.b-footer {
  background: #ebf2f6;
  height: @height;
  //margin-top: -@height;
  color: #495f6a;
  font-size: 11px;
  line-height: 17px;
}

.b-footer__in {
  .clearFix();
}

.b-footer__box-1,
.b-footer__box-2,
.b-footer__box-3,
.b-footer__box-4 {
  float: left;
  margin-top: 22px;
  //background: red;
}

.b-footer__box-1 {
  width: 206px;
  margin-right: 41px;
  font-size: 11px ;
}

.b-footer__box-2 {
  width: 265px;
  margin-right: 118px;
  margin-right: 52px;
  margin-top: 31px;
}

.b-footer__box-3 {
  width: 183px;
  margin-right: 90px;
  margin-top: 31px;
}

.b-footer__box-4 {
  width: 120px;
  margin-top: 27px;
}

/*===| .b-footer |======================end==========================================*/