/*---| .b-porttfolio-i |----------------------start----------------------------------------*/

.b-porttfolio-i {
  height: 367px;
  .clearFix();
}

.b-porttfolio-i__pic {
  float: left;
  width: 367px;
  width: 630px;

}

.b-porttfolio-i__thumbnails {
  width: 305px;
  float: right;
}


.b-porttfolio-i__pic:nth-child(even) {
  margin-right: 0;
}

.b-porttfolio-i__th {
  .size(139px, 103px);
  float: left;
  margin-right: 27px;
  margin-bottom: 30px;
}

.b-porttfolio-i__th:nth-child(even) {
  margin-right: 0;
}

.b-porttfolio-i__th:hover {
  outline: 3px solid red;
}

.b-porttfolio-i img {
  max-width: 100%;
}

.b-porttfolio-i__th_show_all {
  background: #b6c5cc;
}

/*===| .b-porttfolio-i |======================end==========================================*/