/*---| .b-logo |----------------------start----------------------------------------*/

.b-logo,
.b-logo:visited{
  width: 85px;
  height: 66px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: url("@{blockPath}/i-img/logo.png") no-repeat;
  color: #ffffff;
  text-decoration: none;
  overflow: hidden;
  text-indent: -999999px;
}


/*===| .b-logo |======================end==========================================*/


.b-logo_2 {
  width: 46px;
  height: 35px;
  background: url("@{blockPath}/i-img/logo2.png") no-repeat;
  margin-bottom: 8px;
}